<div class="container">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Personajes">
      <div class="container-crds">
        <mat-card class="example-card" *ngFor="let character of characters; let i=index">
          <mat-card-title-group>
            <mat-card-title>
              <h2 class="name">{{character.name}}</h2>
            </mat-card-title>
            <mat-card-subtitle>
              <p>Altura: {{character.height}}</p>
              <p>Peso: {{character.mass}}</p>
              <p>Fecha de nacimiento: {{character.birth_year}}</p>
            </mat-card-subtitle>
            <img mat-card-sm-image src="../../../assets/img/Jedi_symbol.webp">
          </mat-card-title-group>
          <mat-card-content>
            <button mat-raised-button (click)="like(character)">Agregar a tus favoritos</button>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Likes">
      <div class="container-crds">
        <mat-card class="example-card" *ngFor="let character of charactersLiked; let i=index">
          <mat-card-title-group>
            <mat-card-title>
              <h2 class="name">{{character.name}}</h2>
            </mat-card-title>
            <mat-card-subtitle>
              <p>Altura: {{character.height}}</p>
              <p>Peso: {{character.mass}}</p>
              <p>Fecha de nacimiento: {{character.birth_year}}</p>
            </mat-card-subtitle>
            <img mat-card-sm-image src="../../../assets/img/Jedi_symbol.webp">
          </mat-card-title-group>
          <mat-card-content>
            <button mat-raised-button (click)="deleteLike(character)">Elimina de tus favoritos</button>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>